# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
      return a if a<b else b
    else:
      return a if a>b else b

In [ ]:
# Check
lesser_of_two_evens(2,4)

2

In [ ]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    text_list = text.split()
    if len(text_list)==2:
      if text_list[0][0] == text_list[1][0]:
        return True
      else:
        return False
    else:
      print("Invalid text")

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

True

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
      return True
    elif n1+n2==20:
      return True
    else:
      return False

In [ ]:
# Check
makes_twenty(20,10)

True

In [ ]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
    name = name.capitalize()
    name = name[:3] + name[3].upper() + name[4:]
    return name

In [ ]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
    text = text.split()
    text = text[::-1]
    text = " ".join(text)
    return text

In [ ]:
# Check
master_yoda('I am home')

'home am I'

In [ ]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(n):
    if abs(n-100)<=10 or abs(n-200)<=10:
      return True
    else:
      return False

In [ ]:
# Check
almost_there(104)

True

In [ ]:
# Check
almost_there(150)

False

In [ ]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
    itr = 0
    while itr<len(nums)-1:
      if nums[itr]==3 and nums[itr+1]==3:
        return True
      itr+=1

    return False

In [ ]:
# Check
has_33([1, 3, 3])

True

In [ ]:
# Check
has_33([1, 3, 1, 3])

False

In [ ]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    ans_str = ""
    for i in range(len(text)):
      for j in range(3):
        ans_str = ans_str + text[i]

    return ans_str

In [ ]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    if a+b+c<=21:
      return a+b+c
    else:
      if a==11 or b==11 or c==11:
        if a+b+c-10<=21:
          return a+b+c-10
        else:
          return "BUST"
      else:
        return "BUST"

In [ ]:
# Check
blackjack(5,6,7)

18

In [ ]:
# Check
blackjack(9,9,9)

'BUST'

In [ ]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    can_add = True
    sum = 0
    i = 0
    while i<len(arr):
      if arr[i]==6:
        can_add = False

      if arr[i]==9:
        can_add = True
        if i==len(arr)-1:
          break
        else:
          i+=1

      if can_add:
        sum+=arr[i]

      i+=1

    return sum

In [ ]:
# Check
summer_69([1, 3, 5])

9

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
  target = [0, 0, 7]
  target_idx = 0

  for num in nums:
    if target_idx < len(target):

      if num==target[target_idx]:
        target_idx+=1

  return target_idx == len(target)

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def isPrime(n):
  for i in range(2, n):
    if n%i==0:
      return False

  return True

def count_primes(num):
  count = 0
  for i in range(2, num+1):
    if isPrime(i):
      count+=1

  return count

In [ ]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
   dict =  {'a' : ['  *  ', ' * * ', '*****', '*   *', '*   *'],
            'b' : ['**** ', '*   *', '**** ', '*   *', '**** '],
            'c' : [' ****', '*    ', '*    ', '*    ', ' ****'],
            'd' : ['**** ', '*   *', '*   *', '*   *', '**** '],
            'e' : ['*****', '*    ', '*****', '*    ', '*****']}

   if letter in dict:
    for str in dict[letter]:
      print(str)
   else:
    print("no such letter exist in dictionary")

In [ ]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!