# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_path = '/content/drive/MyDrive/Salaries.csv'
sal = pd.read_csv(file_path)

**Check the head of the DataFrame.**

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [ ]:
print(sal['BasePay'].mean())

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
sal['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
JOSEPH_DRISCOLL = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
print(JOSEPH_DRISCOLL['JobTitle'])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
print(JOSEPH_DRISCOLL['TotalPayBenefits'])

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [ ]:
highest_paid = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
print(highest_paid)

   Id    EmployeeName                                        JobTitle  \
0   1  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18          0.0  400184.25       NaN  567595.43         567595.43

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
lowest_paid = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]
print(lowest_paid)

            Id EmployeeName                    JobTitle  BasePay  OvertimePay  \
148653  148654    Joe Lopez  Counselor, Log Cabin Ranch      0.0          0.0

        OtherPay  Benefits  TotalPay  TotalPayBenefits  Year  Notes  \
148653   -618.13       0.0   -618.13           -618.13  2014    NaN

               Agency  Status
148653  San Francisco     NaN

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [ ]:
print(sal.groupby('Year')['BasePay'].count())

Year
2011    36159
2012    36766
2013    37001
2014    38119
Name: BasePay, dtype: int64

**How many unique job titles are there?**

In [ ]:
print(sal['JobTitle'].nunique())

2159

**What are the top 5 most common jobs?**

In [ ]:
job_counts = sal['JobTitle'].value_counts()
top_5_jobs = job_counts.head()
print(top_5_jobs)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
job_counts_2013 = sal[sal['Year'] == 2013]['JobTitle'].value_counts()
job_counts_2013 = job_counts_2013[job_counts_2013 == 1]
print(len(job_counts_2013))

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
list_of_jobtitles = sal['JobTitle'].values
print(list_of_jobtitles)

['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'
 'CAPTAIN III (POLICE DEPARTMENT)' 'CAPTAIN III (POLICE DEPARTMENT)' ...
 'Not provided' 'Not provided' 'Counselor, Log Cabin Ranch']

In [ ]:
chief_count = 0
for job_title in list_of_jobtitles:
  if 'chief' in job_title.lower():
    chief_count += 1
print(chief_count)

627

**Is there a correlation between length of the Job Title string and Salary?**

In [ ]:
title_len = sal['JobTitle'].apply(len)

In [ ]:
relation_table = pd.DataFrame({'title_len': title_len, 'TotalPayBenefits': sal['TotalPayBenefits']})
correlation_matrix = relation_table.corr()
print(correlation_matrix)

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!